* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
/*HEADER SECTION*/
#header-section {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to right, #FFFFFF, #E5E5E5);
    padding: 0 !important;
}
.navbar-brand img {
    height: 90px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    width: 100px;
    color: rgb(54, 47, 47);
    font-weight: 600;
    float: right;
    text-align: left;    
}
/*BUTTON KEYFRAMES*/
.btn {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00,
     #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.btn:active {
    color: #000
}
.btn:active:after {
    background: transparent;
}
.btn:hover:before {
    opacity: 1;
}
.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.fa-bars {
    color: #fff;
    font-size: 1.875rem !important;
}
.navbar-toggler {
    outline: none !important;
}
/*HOME SECTION*/
#home-section {
    background-image: url(Images/output-onlinegiftools_1.gif);
    color: #fff;
    padding-top: 5%;
    height: 100vh;
}
.home-introduction {
    font-family: 'Dancing Script', cursive;
    color: black;
    position: absolute;
    margin-top: 25px;
    font-weight: 600;
    font-size: 3.125rem;
}
#surname {
    color: #FCA311;
}
.home-title {
    font-family: 'Tilt Warp', cursive;
    color: black;
    font-size: 4.375rem;
    font-weight: 600;
    margin-top: 100px;
}
.home-title-introduction {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
}
#home-section .bottom-img {
    margin-top: 295px;
    width: 100%;
}
/*SOCIAL MEDIA SECTION*/
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.icon-bar a {
    display: block;
    color: black;
    font-size: 1.563rem;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 25px;
    padding: 25px;
}
.icon-bar a:hover {
    color: #FCA311;
    animation-duration: 0.5s;
    animation-name: socmeds;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes socmeds {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
}
/*ABOUT ME SECTION*/
#about-me-section {
    position: absolute;
    margin-left: 50px;
    z-index: -1;
}
.profile {
    height: 100%;
}
/*BORDER ANIMATION*/
#about-me-section .container {
    margin-top: 150px;
}
#about-me-section .container {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
#about-me-section .container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
}
#about-me-section .container::after {
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 5px;
    border-radius: 16px;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.card {
    z-index: 5;
}
.card-title {
    font-family: 'Tilt Warp', cursive;
    color: black;
    font-size: 1.875rem;
    font-weight: 600;
}
.card-text {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
}
.technologies {
    margin-right: 400px;
}
.technologies > img {
    width: 20%;
}
.bottom-img {
    margin-top: 295px;
    width: 100%;
}
/*PROJECTS SECTION*/
#projects-section {
   background-color: aqua;
   position: static;
   margin-top: 150vh;
}
